<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3JS1X4SK0W"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-3JS1X4SK0W');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Controle as tarefas da sua vida aqui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="reply-to" content="iagofrota10@gmail.com">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:locale" content="pt-br">
    <meta property="og:type" content="website">
    <meta property="og:title" content="TODO - Controle sua vida aqui">
    <meta property="og:description" content="Controle as tarefas da sua vida aqui">

    <meta property="og:image" content="<%= BASE_URL %>favicon.ico">
    <meta property="og:image:secure_url" content="<%= BASE_URL %>favicon.ico">
    <meta property="og:image_type" content="image/ico">

    <meta property="og:url" content="https://todo.iagofrota.com.br/">
    <meta property="og:site_name" content="TODO - Controle sua vida aqui">
    <link href="https://fonts.googleapis.com/css?family=Lato:200,300,400,600,700" rel="stylesheet">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Minhas Tarefas</title>
</head>
<body>
<noscript>
    <strong>We're sorry but todo doesn't work properly without JavaScript enabled. Please enable it to
        continue.</strong>
</noscript>
<div id="app"></div>
<!-- built files will be auto injected -->
</body>
</html>
